/* * */

html,
body {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overscroll-behavior: contain;
  scroll-snap-type: y proximity;
}

.button {
  display: flex;
  border: 1px solid rgba(192, 192, 192, 0.528);
  background-color: rgba(206, 204, 204, 0.225);
  inline-size: max-content;
  border-radius: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0.5em;

  &:hover {
    color: rgba(0, 0, 0, 0.654);
    background-color: rgba(229, 229, 229, 0.896);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

/* Header */

#header {
  border: 1px solid rgba(192, 192, 192, 0.528);
  z-index: 100;
  display: flex;
  border-left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0.7em;
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 3%;
  backdrop-filter: blur(15px);
  background-color: rgba(68, 66, 66, 0.656);
  /* background-color: rgba(56, 55, 55, 0.139); */
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.435);
}

@media (min-width: 360px) and (max-width: 768px) {
  #header {
    z-index: 100;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }
}

#navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;

  & .link_page_navbar {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.2em;
    text-align: center;
    position: relative;

    &:hover::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10%;
      cursor: pointer;
      border-bottom: 1px solid rgb(255, 255, 255);
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: row;
    gap: 5em;
  }
}

/* Hero Section */

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  position: relative;
  height: 100vh;
  &::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.327);
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  #hero {
    display: flex;
    flex-direction: row;
    padding: 1em;
    height: 80vh;
  }
}

#div_logo_sito {
  display: flex;
  width: 18em;
  height: 12vh;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5em;
  margin-top: 3em;
  /* border: 1px solid rgba(192, 192, 192, 0.528);
  background-color: rgba(206, 204, 204, 0.225); */
  background-image: url("./assets/logo_sito.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 30px; */
  border-bottom: 1px solid rgba(192, 192, 192, 0.528);
  z-index: 2;
  & h1 {
    color: white;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  #div_logo_sito {
    width: 10em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
  }
}

#hero_content {
  display: flex;
  position: absolute;
  z-index: 2;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 6em;
  & h1 {
    color: white;
    font-size: 4em;
    margin-bottom: 0.5em;
  }
  & h4 {
    font-size: 20px;
    color: white;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  #hero_content {
    margin-top: 10em;
    margin-left: 0;
    margin-right: 3em;
    padding: 1em;
    & h1 {
      font-size: 2.5em;
    }

    & h4 {
      font-size: 1em;
    }
  }
}

#hero_video_banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Main Section Home */

#main_section {
  margin-top: 4em;
}

#row_section_main {
  gap: 10em !important;
  padding: 0;
}

.first-poster {
  display: flex;
  align-items: center;
  gap: 2em;

  & img {
    width: 50%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.435);
  }

  & .div-content-poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      display: block;
      left: 0;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.506);
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  #row_section_main {
    gap: 5em !important;
  }

  .first-poster {
    flex-direction: column;

    & img {
      width: 22em !important;
    }

    & .div-content-poster {
      padding: 0.5em;
      align-items: center;

      & h1 {
        font-size: 2em;
      }

      & p {
        text-align: center;
      }

      &::after {
        width: 100%;
        height: 0 !important;
        top: 0;
      }
    }
  }
}

.second-poster {
  display: flex;
  align-items: center;
  gap: 2em;

  & img {
    width: 50%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.435);
  }

  & .div-content-poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      display: block;
      right: 0;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.506);
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .second-poster {
    flex-direction: column;
    gap: 2em;

    & img {
      width: 22em !important;
    }

    & .div-content-poster {
      padding: 0.5em;
      align-items: center;

      & h1 {
        font-size: 2em;
      }

      & p {
        text-align: center;
        margin-bottom: 0.5em;
      }

      &::after {
        width: 100%;
        height: 0 !important;
        bottom: 0;
      }
    }
  }
}

.mid-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(192, 192, 192, 0.528);
    padding: 1em;
    border-radius: 30px;
  }

  & h3 {
    font-size: 1.7em;
  }

  & p {
    font-size: 1em;
    text-align: center;
    width: 50%;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .mid-section {
    flex-direction: column;
    gap: 5em;
  }
}

/* Footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: 5em;
  padding: 0.5em;
  background-color: rgba(68, 66, 66, 0.656);

  & .main-div-footer {
    width: 100%;
    height: 100%;
    justify-content: between;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(192, 192, 192, 0.528);
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.314);
  }
}

/* ------------------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
